################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Formalis.MI4Biz.HootSuite/bin
/Formalis.MI4Biz.HootSuite/obj
/Formalis.MI4Biz.HootSuite/obj/Debug
/Formalis.MI4Biz.HootSuite/obj/Release
/packages
/.vs/Formalis.MI4Biz.HootSuite/v15/.suo
/.vs/Formalis.MI4Biz.HootSuite/v15/Server/sqlite3
