################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Formalis.MI4Biz.HootSuite/bin
/Formalis.MI4Biz.HootSuite/obj
/packages
