
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Mi4Biz HootSuite Integration</title>

    <script src="https://assets.hootsuite.com/jsapi/4-0/hsp.js"></script>
    <script src="~/assets/js/plugin.js"></script>

    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
</head>
<body>
    <p>This is the integration between Mi4biz and HootSuite</p>
</body>
</html>
